.product_container {
    width: 70%;
    margin: 0 auto;
    padding: 2%;
    
    
}
.item_container {
    margin-bottom: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    vertical-align: middle;

    img {
        width: 200px;
        height: 200px;
    }
    div {
        width: 70%;
        /* text-align: start; */
        /* vertical-align: middle; */
        display: flex;
        align-items: center
    }
    a {
        text-decoration: none;
        color: black;
    }
}