.product_container {
    margin: 0 auto;
    padding: 2%;
    width: 80%;

    iframe {
        display: flex;
        margin: 0 auto;
    }
    
}
.item_container {
    margin-bottom: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    vertical-align: middle;

    img {
        width: 200px;
        height: 200px;
    }
    div {
        width: 70%;
        /* text-align: start; */
        /* vertical-align: middle; */
        display: flex;
        align-items: center
    }
    a {
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 600px) { 
    .product_container {
        margin: 0 auto;
        padding: 2%;
        width: 90%;
    
        iframe {
            width: 90%;
            display: flex;
            margin: 0 auto;
        }
    }
}