.logo {
    width: 200px;
}
.search_panel {
    display: flex;
    justify-content: space-between;
}
.links {
    font-size: 20px;
    padding: 12px;
    padding-left: 16px;
    text-decoration: none;
    color: #909090;
}
.servis_menu {
    text-align: left;
    height: 45px;
    padding-top: 40px;
    hr {
        margin: 10px;
        margin-top: 20px;
    }
}
.contact_menu {
    margin: 1%;
    text-align: left;
    width: 200px;
    span {
        font-size: 20px;
        color: #909090;
    }
    a {
        text-decoration: none;
        color: #909090;
    }
    /* p:first-child a {
        margin-left: 5px;
    }
    p:last-child {
        padding-left: 10px;
        font-family: sans-serif;
        font-size: 22px;
    } */
}

